@charset "utf-8";

/* STEP 5: Position and size the video element to take up the full screen */
header video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* STEP 6: Style the HGROUP so that it overlays the video */
header hgroup {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 20vh 10vw;
}

/* STEP 7: Other typographic styles for the H1 */
header hgroup h1 {
    font-size: 5rem;
    margin-bottom: 0;
    text-shadow: 0px 2px 5px black;
}

/* STEP 8: Style the P */
header hgroup p {
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

/* STEP 9: Finish up the BUTTON */
header hgroup button {
    display: inline-block;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
     box-shadow: 0px 2px 5px black;
}

/* Special thanks to https://www.shopify.com/ca/blog/background-video-css for inspiring this lesson */